@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --main-light : #fdfcfe;
    --side-light : #2d26db;
    --extra-light : #f06292;
    --setting-light : #d5d5f9;
    --main-dark : #111111;
    --side-dark : #553ef6;
    --extra-dark : #f381a6;
    --gray :  #747475;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.App{
    background-color: var(--main-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100vw;
    height: 100vh;
}
.setting{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    width:400px;
    color : var(--side-light);
    font-size: 24px;
}
.label{
    display: block;
}
.button-border{
    background-color: var(--main-light);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0.5px solid var(--gray);
    
}
.btn{
    color: var(--side-light);
    stroke-width: 3;
    width: 48px;
    height: 48px;
}