@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --main-light : #fdfcfe;
    --side-light : #2d26db;
    --extra-light : #f06292;
    --setting-light : #d5d5f9;
    --main-dark : #111111;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.App{
    background-color: var(--main-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100vw;
    height: 100vh;
    overflow-y : auto;
}
h1{
    margin-bottom: 50px;
    color:var(--side-light);
    font-size: 52px;
    font-weight: 700;
}
.setting{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    width:450px;
}
.label{
    display: block;
    font-size: 24px;
    font-weight: 400;
}
.button-border{
    background-color: var(--main-light);
    width: 50px;
    height: 50px;
    border: 0;
}
.btn{
    color: var(--side-light);
    width: 48px;
    height: 48px;
}
.btn:hover{
    color: var(--extra-light);
    cursor: pointer;
}
.length {
    color: var(--side-light);
    text-align: center;
    vertical-align: 15px;
    font-size: 30px;
    margin: 0 10px;
    font-weight: 600;
}
.clock{
    margin: 20px 0;
    border : 20px solid var(--side-light);
    border-radius: 50%;
    min-height: 300px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}
#time-left{
    font-size: 60px;
    font-weight: 600;
}
#timer-label{
    font-size: 28px;
}
.button-container {
    display: flex;
    width: 120px;
    justify-content: space-between;
}
.author , .author a{
    font-size: 12px;
    margin-top: 20px;
    color: var(--main-dark);
    font-weight: 200;
    text-decoration: none;
}
.author a:hover{
    color: #f06292;
}